<% summ = "<div class='digit'>#{@summ.summ_semestr} руб.</div>".html_safe %>
<div class="notice">
	<%= @notice.html_safe %>
</div>
<script>
	$(document).ready(function(){
		$('.notice p').each(function(){
			if($(this).html().match(/=summ/))
				$(this).html("<%= summ %>")
			else if($(this).html().match(/=base_value/))
				$(this).html("<%= (@summ.normativ_summ.to_i != 0) ? "#{@summ.normativ_summ} руб." : "0 руб." %>")
			else if($(this).html().match(/=finance_value/))
				$(this).html("<%= (@summ.finance_summ.to_i != 0) ? "#{@summ.finance_summ} руб." : "0 руб."  %>")		
		});		
	});
</script>