<% summ = "<div class='digit'>#{@summ.summ_semestr} руб.</div>".html_safe %>
<div class="notice">
	<%= @notice.html_safe %>
</div>
<script>
	$(document).ready(function(){
		$('.notice p').each(function(){
			if($(this).html().match(/=summ/))
				$(this).html("<%= summ %>")
			else if($(this).html().match(/=base_value/)){
				text = $(this).html().split(/[()]/)[1]
				$(this).html(text + "<%= (@summ.normativ_summ.to_i != 0) ? "<br/>#{@summ.normativ_summ} руб.".html_safe : "" %>")
			}
			else if($(this).html().match(/=finance_value/)){
				text = $(this).html().split(/[()]/)[1]
				$(this).html(text + "<%= (@summ.finance_summ.to_i != 0) ? "<br/>#{@summ.finance_summ} руб.".html_safe : ""  %>")		
			}
		});		
	});
</script>