<% unless @summ.normativ_summ.nil? %>
	<div class='norm_font'>Базовый норматив на единицу образовательной услуги:<br/>
		<%= @summ.normativ_summ %> руб.
	</div>
<% end %>
Оплата для студентов за текущий семестр:<br/> 

<div class='digit'>
	<%= @summ.summ_semestr %> руб.
</div>
<% unless @summ.normativ_summ.nil? %>
<div class='norm_font'>
	Объем дофинансирования за счет внебюджетных средств<br/>
	<%= @summ.finance_summ%> руб.
</div
<% end %> 
<br/><br/>
<%= @notice.html_safe %>
