<% if @summ.normativ_summ.to_i != 0 %>
	<div class='norm_font'>Базовый норматив затрат на единицу образовательной услуги за текущий семестр:<br/>
		<%= @summ.normativ_summ %> руб.
	</div>
<% end %>
Оплата для студентов за текущий семестр:<br/> 

<div class='digit'>
	<%= @summ.summ_semestr %> руб.
</div>
<% if @summ.normativ_summ.to_i != 0 %>
<div class='norm_font'>
	Объем дофинансирования  за счет внебюджетных средств за текущий семестр:<br/>
	<%= @summ.finance_summ%> руб.
</div
<% end %> 
<br/><br/>
<%= @notice.html_safe %>
